body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.app {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.background {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAguXNanVeFTURVXWFMPQOjmXEallNAJMHkxXBFl-t-A&usqp=CAU&ec=48665699");
  height: 200vh;
  position: absolute;
  top: 0;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: transform;
  z-index: -1;
  animation: scroll 20s linear infinite;
}

.foreground {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.player-spot {
  margin-top: auto;
  margin-bottom: auto;
}

.table {
  margin-top: auto;
  margin-bottom: auto;
}

.login-container {
  padding: 10px;
}

.seat {
  border: 1px solid #000;
  padding: 10px;
}

.sit-here {
  display: block;
  margin: 10px auto;
  width: 80px;
  font-size: 0.8em;
}

.containerBox {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.chatArea {
  flex: 1;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.chatText {
  resize: none;
  height: 40px;
}

.countdown-display {
  font-size: 24px;
  font-weight: bold;
  color: red;
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .bordered-col,
  .seat-height,
  .table-css {
    padding: 10px; /* Smaller padding */
    height: auto; /* Make height more flexible */
  }

  .table-row {
    margin-left: 0; /* Adjust margin for smaller screens */
  }

  .seat-row,
  .table-row {
    flex-direction: column; /* Stack elements vertically on small screens */
  }
}

.pokerTable {
  border: #000 1px solid;
}

.bordered-col {
  border: 1px solid black;
  padding: 15px;
  margin: 5px;
}

.table-row {
  margin-left: 100px;
}

.table-css {
  height: auto;
}

.seat-height {
  height: auto;
}

.seat-row {
  height: auto;
}

.poker-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Adjust as needed */
  width: 90vh; /* Maintain a square aspect */
  max-width: 100%; /* Ensure it doesn't overflow the viewport width */
  margin: auto; /* Center the square in the viewport */
  position: relative;
  border: 2px solid black; /* Your desired border */
  box-sizing: border-box; /* Include border in the width and height calculations */
}

@media (max-width: 768px) {
  .poker-room {
    width: 90vw; /* Adjust width on smaller screens */
    height: 90vw; /* Maintain the square aspect on smaller screens */
    flex-direction: column; /* Stack elements vertically */
  }
}

/* Sample room */

.sample-room {
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflow to prevent scrolling */
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin: auto;
  width: 80vw;
  max-width: 800px;
  min-width: 300px;
}

.row {
  flex: 1; /* Distribute space evenly among rows */
  display: flex; /* Apply flex to each row for inner columns */
}

.square,
.rectangle {
  border: 1px solid red;
  margin: 5px 0;
  background-color: blue; /* For visibility */
  min-height: 50px; /* Minimum height */
  flex-grow: 1;
}

.square {
  height: 15vw; /* Height relative to the viewport width */
  max-height: 40%;
  min-height: 50px; /* Minimum height */
}

.rectangle {
  height: 30vw; /* Height relative to the viewport width */
  max-height: 40%; /* Adjust the max height as needed */
  min-height: 100px; /* Minimum height */
}

.row.align-items-center {
  display: flex;
  align-items: center; /* This will vertically center the squares relative to the rectangle */
}

@media (max-width: 768px) {
  .square,
  .rectangle {
    height: auto; /* Adjust height on smaller screens */
  }
}

.responsive-box {
  width: 50vw; /* Width is 50% of the viewport width */
  height: 30vh; /* Height is 30% of the viewport height */
  background-color: #4caf50; /* A nice shade of green for visibility */
  color: white; /* Text color */
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  border: 2px solid #388e3c; /* A darker shade of green for the border */
  margin: 10vh auto; /* Center the box vertically with margin */
  font-size: 2vw; /* Font size adjusts with viewport width */
}
