.app {
  text-align: center;
  padding-top: 60px;
}

/*CSS for NavBar*/
.my-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #796565;
  height: 60px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1000;
}

/*NEW CSS for newRoom*/

/*s room exit button*/
.sRoomExit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

/*in newRoom comp*/
.room-layout {
  width: 97%;
  height: 100%;
  overflow: hidden;
  margin: 30px;
  border: 4px solid black;
}

.square-row,
.rectangle-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.responsive-rectangle {
  width: 70vw;
  height: 40vh;
  padding-bottom: 5vh;
  background-color: #bfe6d3;
  color: rgb(12, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  font-size: 2vw;
  margin: 1vw;
  box-sizing: border-box;
  position: relative;
}

.options-square {
  flex-grow: 2;
  border: 2px solid #000000;
  box-sizing: border-box;
  padding: 1vw;
}

.bets-square {
  flex-grow: 2;
  border: 2px solid #000000;
  box-sizing: border-box;
  padding: 1vw;
}

/*in Rectangle comp*/
.rectangle-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.card-slots {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  margin: 0;
  height: auto;
  overflow: hidden;
}

/*table pot and the community cards*/
:root {
  --card-width: 33%;
  --card-height: auto;
}

.card-slot {
  flex: 1;
  max-width: var(--card-width);
  padding: 0 0.3vw;
  box-sizing: border-box;
  border: #000000 1px solid;
  overflow: hidden;
}

/* .card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.amount-display {
  text-align: center;
  padding: 5px 5px;

  width: 100%;
  position: absolute;
  bottom: 4vh;
}

/*New Seats and PlayerSquare*/

.player-square {
  width: 19vw;
  height: 19vw;
  background-color: #f7f9fa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  border: 2px solid #000000;
  box-sizing: border-box;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1vw;
  box-sizing: border-box;
}

/*HandCards.js*/

.s-player-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vw;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 8vw;
  max-height: 10vw;
}

.blue-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.blue-card-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 10vw;
  overflow: hidden;
}

.blue-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*UserNameAndChips*/
.player-name,
.player-chips {
  font-size: 1.2vw;
  text-align: center;
  margin: 0.5vw 0;
}
