.container {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 80vh;
  padding: 1%;
}

.mid-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.table {
  border: 3px solid black;
  height: 40vh;
  width: 80vh;
  border-radius: 30px;
  display: block;
  justify-content: center;
  background-color: rgb(139, 181, 65);
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2px;
}

.card-image {
  height: 150px;
  width: 75px;
  margin-top: 30px;
  border-radius: 10px;
}

#sit-btn {
  height: 10vh;
  margin-left: 5px;
  margin-right: 5px;
}

#bet-btn {
  border: 1px solid black;
}

p {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 3px solid black;
}
